div {
    color: white;
    width: 300px;
    height: 300px;
}

div:nth-child(odd) {
    background-color: #0000ff;
}

div:nth-child(even){
    background-color: rgba(255, 0, 0,0.7);
}

.small-div {
    width: 200px;
    height: 200px;
}

#big-div {
    width: 400px;
    height: 400px;
}

.hover-div:hover {
    background-color: orange;
}