<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        div {
            width: 300px;
            height: 300px;
            /* background-color: lightblue; */
        }
        div:nth-child(1) {
            border-width: 10px;
            border-style: solid dotted inset dashed;
            border-color: blue red;
            border-radius: 50%;
        }
         div:nth-child(2) {
            border-style: solid;
            border-width: 3px;
            border-color: black;
            border-radius: 10px;
         }   
    </style>
</head>
<body>
    <div></div>
    <div></div>
</body>
</html>