<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/custom/stackoverflow.css">
</head>
<body>
    <div class="card">
        <div class="card-head">
            answered 3 mins ago
        </div>
        <div class="card-body">
            <div class="card-body-left">
                <a  href="https://github.com/xiongxingqi">
                    <img src="https://avatars.githubusercontent.com/u/113000564?v=4" alt="头像">
                </a>
            </div>
            <div class="card-body-right">
                <div class="card-body-right-username">
                    <a href="https://github.com/xiongxingqi">king of celest</a>
                </div>
                <div class="card-body-right-info">
                    <div>1,825</div>
                    <div class="card-body-right-info-circle" style="background-color: orange;"></div>
                    <div>2</div>
                    <div class="card-body-right-info-circle" style="background-color: lightgreen;"></div>
                    <div>6</div>
                    <div class="card-body-right-info-circle" style="background-color: lightsalmon;"></div>
                    <div>18</div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>